{#
 # @prop {boolead} [disabled="false"] - 入力を無効にする
 # @prop {boolead} [required="false"] - 入力を必須にする
 # @prop {boolead} [error="false"] - エラー状態にする
 #}
{% macro render( props ) %}
  {%- set class_error = {
    input: "c-select--error" if props.error
    } -%}
  {%- set class_disabled = {
    label: "c-form__label--disabled" if props.disabled
    } -%}
  {%- set attr_disabled = "disabled" if props.disabled -%}
  {%- set attr_required = "required" if props.required -%}
  {% set label = props.label | default('ラベル') %}
  {% set description = props.description | default('入力項目の説明文が入ります。') %}
  {% set errorText = props.errorText | default('エラーテキストが入ります。') %}
  {% set defaultText = props.defaultText | default('--Please choose an option--') %}
  {% set addClass = props.addClass %}
  <div class="c-form__item{{' ' ~ addClass if addClass}}">
    <label id="select-label"
           class="c-form__label {{ class_disabled.label }}"
           for="select-sample">
      <span class="c-form__labelText">{{ label }}</span>
      {%- if props.required -%}<span class="c-form__required">必須</span>{%- endif -%}
      <span class="c-form__description">{{ description }}</span>
    </label>
    <div class="c-selectGroup">
      <select id="select-sample" class="c-select {{ class_error.input }}" name="pets" aria-labelledby="select-label" {{ attr_disabled }} {{ attr_required }}>
        <option value="">{{ defaultText }}</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="hamster">Hamster</option>
        <option value="parrot">Parrot</option>
        <option value="spider">Spider</option>
        <option value="goldfish">Goldfish</option>
      </select>
    </div>
    {% if props.error %}<p class="c-form__error">{{ errorText }}</p>{% endif %}
  </div>
{% endmacro %}
{% if storybookArgs %}{{ render(storybookArgs) }}{% endif %}
