:root {
  /* Color - primitive */
  --beige-100: #fefcfa;
  --beige-1000: #9e9267;
  --beige-1100: #867946;
  --beige-1200: #70622a;
  --beige-200: #fcfaf8;
  --beige-300: #faf7f4;
  --beige-400: #f7f5f1;
  --beige-50: #fffefd;
  --beige-500: #f1ede7;
  --beige-600: #e7e3d8;
  --beige-700: #dad4c5;
  --beige-800: #cac2ab;
  --beige-900: #b5ab8b;
  --blue-100: #dcf0ff;
  --blue-1000: #00428c;
  --blue-1100: #00316a;
  --blue-1200: #00234b;
  --blue-200: #c0e4ff;
  --blue-300: #97d3ff;
  --blue-400: #57b8ff;
  --blue-50: #f0f9ff;
  --blue-500: #39abff;
  --blue-600: #008bf2;
  --blue-700: #0877d7;
  --blue-800: #0066be;
  --blue-900: #0055ad;
  --canary-100: #ffeddb;
  --canary-1000: #a28901;
  --canary-1100: #7b6900;
  --canary-1200: #4f4500;
  --canary-200: #ffe1be;
  --canary-300: #ffd7a1;
  --canary-400: #ffce84;
  --canary-50: #fffbf8;
  --canary-500: #fcc250;
  --canary-600: #f7bb25;
  --canary-700: #ecb405;
  --canary-800: #dbaf03;
  --canary-900: #c3a102;
  --cyan-100: #c8f8ff;
  --cyan-1000: #006173;
  --cyan-1100: #004c59;
  --cyan-1200: #003741;
  --cyan-200: #99f2ff;
  --cyan-300: #79e2f2;
  --cyan-400: #2bc8e4;
  --cyan-50: #e6fcff;
  --cyan-500: #01b7d6;
  --cyan-600: #00a3bf;
  --cyan-700: #008da6;
  --cyan-800: #008299;
  --cyan-900: #006f83;
  --green-100: #f4feee;
  --green-1000: #1e7c2d;
  --green-1100: #145e18;
  --green-1200: #11450e;
  --green-200: #e8fedf;
  --green-300: #d8fbcd;
  --green-400: #c6f9bc;
  --green-50: #fefffd;
  --green-500: #9cee98;
  --green-600: #75df7a;
  --green-700: #57cc66;
  --green-800: #3eb557;
  --green-900: #2c9a4a;
  --indigo-100: #dceafe;
  --indigo-1000: #00019c;
  --indigo-1100: #0d017f;
  --indigo-1200: #160561;
  --indigo-200: #c4dafd;
  --indigo-300: #abc9fc;
  --indigo-400: #93b8fb;
  --indigo-50: #f5f9ff;
  --indigo-500: #6590f2;
  --indigo-600: #3d6aea;
  --indigo-700: #1b49e1;
  --indigo-800: #0031d8;
  --indigo-900: #0015ba;
  --lime-100: #f5ffb9;
  --lime-1000: #527808;
  --lime-1100: #3b5803;
  --lime-1200: #293d00;
  --lime-200: #eaff86;
  --lime-300: #dcff5b;
  --lime-400: #cdff30;
  --lime-50: #fdffed;
  --lime-500: #bcf62a;
  --lime-600: #ade830;
  --lime-700: #98d124;
  --lime-800: #81b619;
  --lime-900: #699810;
  --magenta-100: #ffdafe;
  --magenta-1000: #780761;
  --magenta-1100: #52083f;
  --magenta-1200: #2e0722;
  --magenta-200: #ffbafe;
  --magenta-300: #ff9afd;
  --magenta-400: #fe7afe;
  --magenta-50: #fffaff;
  --magenta-500: #f749f5;
  --magenta-600: #eb20ea;
  --magenta-700: #db00db;
  --magenta-800: #bf01b1;
  --magenta-900: #9d0488;
  --mono-0: #ffffff;
  --mono-100: #f2f2f2;
  --mono-1000: #595959;
  --mono-1100: #333333;
  --mono-1200: #1a1a1a;
  --mono-1300: #000000;
  --mono-200: #ebebeb;
  --mono-300: #e6e6e6;
  --mono-400: #dedede;
  --mono-50: #fafafa;
  --mono-500: #cccccc;
  --mono-600: #c4c4c4;
  --mono-700: #a8a8a8;
  --mono-800: #8f8f8f;
  --mono-900: #767676;
  --navy-100: #e4ebf6;
  --navy-1000: #11215b;
  --navy-1100: #0a1541;
  --navy-1200: #060d2b;
  --navy-200: #cfdbed;
  --navy-300: #bac9e2;
  --navy-400: #a5b7d6;
  --navy-50: #f9fbff;
  --navy-500: #7f96c2;
  --navy-600: #5f7ab6;
  --navy-700: #435ea5;
  --navy-800: #2d4590;
  --navy-900: #1c3177;
  --orange-100: #ffdfca;
  --orange-1000: #8b3200;
  --orange-1100: #6d2700;
  --orange-1200: #541e00;
  --orange-200: #ffc199;
  --orange-300: #ffa66d;
  --orange-400: #ff8d44;
  --orange-50: #ffeee2;
  --orange-500: #ff7628;
  --orange-600: #fb5b01;
  --orange-700: #e25100;
  --orange-800: #c74700;
  --orange-900: #ac3e00;
  --purple-100: #ecddff;
  --purple-1000: #41048e;
  --purple-1100: #30016c;
  --purple-1200: #21004b;
  --purple-200: #ddc2ff;
  --purple-300: #cda6ff;
  --purple-400: #bb87ff;
  --purple-50: #f1eafa;
  --purple-500: #a565f8;
  --purple-600: #8843e1;
  --purple-700: #6f23d0;
  --purple-800: #5c10be;
  --purple-900: #5109ad;
  --red-100: #ffe4e4;
  --red-1000: #8a1a06;
  --red-1100: #6b1502;
  --red-1200: #4d0f00;
  --red-200: #ffcccc;
  --red-300: #ffb3b3;
  --red-400: #ff9999;
  --red-50: #fffbfb;
  --red-500: #f96060;
  --red-600: #f02b2b;
  --red-700: #de221a;
  --red-800: #c62112;
  --red-900: #aa1e0c;
  --transparent-black-10: #0000001a;
  --transparent-black-20: #00000033;
  --transparent-black-3: #00000008;
  --transparent-black-30: #0000004d;
  --transparent-black-40: #00000066;
  --transparent-black-5: #0000000d;
  --transparent-black-50: #00000080;
  --transparent-black-60: #00000099;
  --transparent-black-80: #000000b2;
  --transparent-black-90: #000000e5;
  --white-10: #ffffff1a;
  --white-20: #ffffff33;
  --white-3: #ffffff08;
  --white-30: #ffffff4d;
  --white-40: #ffffff66;
  --white-5: #ffffff0d;
  --white-50: #ffffff80;
  --white-60: #ffffff99;
  --white-80: #ffffffb2;
  --white-90: #ffffffe5;
  --yellow-100: #fffbd5;
  --yellow-1000: #758400;
  --yellow-1100: #566200;
  --yellow-1200: #394200;
  --yellow-200: #fffab4;
  --yellow-300: #fff892;
  --yellow-400: #fff970;
  --yellow-50: #fffef6;
  --yellow-500: #faf837;
  --yellow-600: #ebf000;
  --yellow-700: #d1dc00;
  --yellow-800: #b4c300;
  --yellow-900: #95a500;
  /* Color - semantic */
  --brand-primary: var(--navy-900);
  --brand-quaternary: var(--navy-50);
  --brand-secondary: var(--navy-500);
  --brand-tertiary: var(--navy-200);
  --classified-beige-primary: var(--beige-300);
  --classified-beige-quaternary: var(--beige-700);
  --classified-beige-quinary: var(--beige-900);
  --classified-beige-secondary: var(--beige-400);
  --classified-beige-tertiary: var(--beige-500);
  --classified-canary-primary: var(--canary-800);
  --classified-canary-quaternary: var(--canary-100);
  --classified-canary-secondary: var(--canary-1000);
  --classified-canary-tertiary: var(--canary-600);
  --classified-cyan-primary: var(--cyan-600);
  --classified-cyan-quaternary: var(--cyan-50);
  --classified-cyan-secondary: var(--cyan-1100);
  --classified-cyan-tertiary: var(--cyan-300);
  --classified-green-primary: var(--green-900);
  --classified-green-quaternary: var(--green-100);
  --classified-green-quinary: var(--green-1100);
  --classified-green-secondary: var(--green-1200);
  --classified-green-tertiary: var(--green-500);
  --classified-indigo-primary: var(--indigo-800);
  --classified-indigo-quaternary: var(--indigo-50);
  --classified-indigo-quinary: var(--indigo-200);
  --classified-indigo-secondary: var(--indigo-1000);
  --classified-indigo-tertiary: var(--indigo-300);
  --classified-mono-black: var(--mono-1300);
  --classified-mono-primary: var(--mono-1200);
  --classified-mono-quaternary: var(--mono-200);
  --classified-mono-quinary: var(--mono-50);
  --classified-mono-secondary: var(--mono-900);
  --classified-mono-tertiary: var(--mono-500);
  --classified-mono-white: var(--mono-0);
  --classified-orange-primary: var(--orange-600);
  --classified-orange-quaternary: var(--orange-100);
  --classified-orange-secondary: var(--orange-1100);
  --classified-orange-tertiary: var(--orange-300);
  --classified-purple-primary: var(--purple-700);
  --classified-purple-quaternary: var(--purple-50);
  --classified-purple-secondary: var(--purple-1100);
  --classified-purple-tertiary: var(--purple-400);
  --classified-red-primary: var(--red-600);
  --classified-red-quaternary: var(--red-100);
  --classified-red-secondary: var(--red-1100);
  --classified-red-tertiary: var(--red-400);
  --classified-transparent-black-primary: var(--transparent-black-80);
  --classified-transparent-black-quaternary: var(--transparent-black-5);
  --classified-transparent-black-quinary: var(--transparent-black-20);
  --classified-transparent-black-secondary: var(--transparent-black-40);
  --classified-transparent-black-tertiary: var(--transparent-black-60);
  --classified-transparent-white-primary: var(--white-80);
  --classified-transparent-white-secondary: var(--white-60);
  --classified-transparent-white-tertiary: var(--white-40);
  --ui-background-brand-primary: var(--brand-primary);
  --ui-background-brand-quaternary: var(--brand-quaternary);
  --ui-background-brand-secondary: var(--brand-secondary);
  --ui-background-brand-tertiary: var(--brand-tertiary);
  --ui-background-dark: var(--classified-mono-primary);
  --ui-background-dark-grey: var(--mono-1000);
  --ui-background-default: var(--classified-mono-white);
  --ui-background-grey: var(--classified-mono-secondary);
  --ui-background-light: var(--classified-mono-quaternary);
  --ui-background-separated-area-primary: var(--classified-beige-primary);
  --ui-background-separated-area-secondary: var(--classified-beige-tertiary);
  --ui-background-separated-area-tertiary: var(--classified-beige-quaternary);
  --ui-background-transparent-black: var(
    --classified-transparent-black-primary
  );
  --ui-background-transparent-black-light: var(
    --classified-transparent-black-secondary
  );
  --ui-background-transparent-black-mid: var(
    --classified-transparent-black-tertiary
  );
  --ui-background-transparent-black-thin: var(
    --classified-transparent-black-quaternary
  );
  --ui-background-transparent-black-ultra-light: var(
    --classified-transparent-black-quinary
  );
  --ui-background-transparent-white: var(
    --classified-transparent-white-secondary
  );
  --ui-background-transparent-white-light: var(
    --classified-transparent-white-tertiary
  );
  --ui-background-ultra-light: var(--classified-mono-quinary);
  --ui-background-emphasize-high-primary: var(--ui-emphasize-high-primary);
  --ui-background-emphasize-high-quaternary: var(
    --ui-emphasize-high-quaternary
  );
  --ui-background-emphasize-high-secondary: var(--ui-emphasize-high-secondary);
  --ui-background-emphasize-high-tertiary: var(--ui-emphasize-high-tertiary);
  --ui-background-emphasize-mid-primary: var(--ui-emphasize-mid-primary);
  --ui-background-emphasize-mid-quaternary: var(--ui-emphasize-mid-quaternary);
  --ui-background-emphasize-mid-quinary: var(--ui-emphasize-mid-quinary);
  --ui-background-emphasize-mid-secondary: var(--ui-emphasize-mid-secondary);
  --ui-background-emphasize-mid-tertiary: var(--ui-emphasize-mid-tertiary);
  --ui-background-status-active: var(--ui-status-active);
  --ui-background-status-caution: var(--ui-status-caution);
  --ui-background-status-caution-hover: var(--ui-status-caution-hover);
  --ui-background-status-disabled: var(--ui-line-status-disabled);
  --ui-background-status-hover: var(--ui-status-hover);
  --ui-background-status-link: var(--ui-status-link);
  --ui-background-status-visited: var(--ui-status-visited);
  --ui-emphasize-high-primary: var(--classified-indigo-primary);
  --ui-emphasize-high-quaternary: var(--classified-indigo-tertiary);
  --ui-emphasize-high-secondary: var(--classified-indigo-quaternary);
  --ui-emphasize-high-tertiary: var(--classified-indigo-quinary);
  --ui-emphasize-mid-primary: var(--brand-primary);
  --ui-emphasize-mid-quaternary: var(--navy-300);
  --ui-emphasize-mid-quinary: var(--navy-600);
  --ui-emphasize-mid-secondary: var(--navy-50);
  --ui-emphasize-mid-tertiary: var(--navy-100);
  --ui-icon-brand-primary: var(--ui-text-brand-primary);
  --ui-icon-default: var(--ui-text-default);
  --ui-icon-inverted: var(--ui-text-inverted);
  --ui-icon-light: var(--ui-text-light);
  --ui-icon-ultra-light: var(--ui-text-ultra-light);
  --ui-icon-status-active: var(--ui-status-active);
  --ui-icon-status-caution: var(--ui-status-caution);
  --ui-icon-status-caution-hover: var(--ui-status-caution-hover);
  --ui-icon-status-disabled: var(--ui-status-disabled-dark);
  --ui-icon-status-hover: var(--ui-status-hover);
  --ui-icon-status-link: var(--ui-status-link);
  --ui-icon-status-visited: var(--ui-status-visited);
  --ui-line-bold: var(--classified-mono-primary);
  --ui-line-brand-primary: var(--brand-primary);
  --ui-line-brand-secondary: var(--brand-secondary);
  --ui-line-brand-tertiary: var(--brand-tertiary);
  --ui-line-default: var(--classified-mono-tertiary);
  --ui-line-inverted: var(--classified-mono-white);
  --ui-line-thick: var(--classified-mono-secondary);
  --ui-line-thin: var(--classified-mono-quaternary);
  --ui-line-white-transparent-light: var(
    --classified-transparent-white-tertiary
  );
  --ui-line-white-transparent-ultra-light: var(
    --classified-transparent-white-tertiary
  );
  --ui-line-white-transparent-thick: var(
    --classified-transparent-white-secondary
  );
  --ui-line-status-active: var(--ui-status-active);
  --ui-line-status-caution: var(--ui-status-caution);
  --ui-line-status-caution-hover: var(--ui-status-caution-hover);
  --ui-line-status-disabled: var(--ui-status-disabled);
  --ui-line-status-focus: var(--classified-canary-primary);
  --ui-line-status-hover: var(--ui-status-hover);
  --ui-line-status-link: var(--ui-status-link);
  --ui-line-status-visited: var(--ui-status-visited);
  --ui-status-active: var(--navy-1100);
  --ui-status-caution: var(--classified-red-primary);
  --ui-status-caution-hover: var(--classified-red-secondary);
  --ui-status-disabled: var(--classified-mono-quinary);
  --ui-status-disabled-dark: var(--classified-mono-tertiary);
  --ui-status-hover: var(--classified-indigo-secondary);
  --ui-status-link: var(--brand-primary);
  --ui-status-visited: var(--classified-purple-secondary);
  --ui-surface-brand-primary: var(--brand-primary);
  --ui-surface-brand-secondary: var(--brand-secondary);
  --ui-surface-brand-tertiary: var(--brand-tertiary);
  --ui-surface-default: var(--classified-mono-white);
  --ui-surface-light-grey: var(--classified-mono-tertiary);
  --ui-surface-transparent-black: var(--classified-transparent-black-primary);
  --ui-surface-transparent-black-light: var(
    --classified-transparent-black-secondary
  );
  --ui-surface-transparent-black-mid: var(
    --classified-transparent-black-tertiary
  );
  --ui-surface-transparent-black-thin: var(
    --classified-transparent-black-quaternary
  );
  --ui-surface-transparent-black-ultra-light: var(
    --classified-transparent-black-quinary
  );
  --ui-surface-transparent-white: var(--classified-transparent-white-secondary);
  --ui-surface-transparent-white-light: var(
    --classified-transparent-white-tertiary
  );
  --ui-surface-ultra-light-grey: var(--classified-mono-quinary);
  --ui-surface-emphasize-high-primary: var(--ui-emphasize-high-primary);
  --ui-surface-emphasize-high-quaternary: var(--ui-emphasize-high-quaternary);
  --ui-surface-emphasize-high-secondary: var(--ui-emphasize-high-secondary);
  --ui-surface-emphasize-high-tertiary: var(--ui-emphasize-high-tertiary);
  --ui-surface-emphasize-mid-primary: var(--ui-emphasize-mid-primary);
  --ui-surface-emphasize-mid-quaternary: var(--ui-emphasize-mid-quaternary);
  --ui-surface-emphasize-mid-quinary: var(--ui-emphasize-mid-quinary);
  --ui-surface-emphasize-mid-secondary: var(--ui-emphasize-mid-secondary);
  --ui-surface-emphasize-mid-tertiary: var(--ui-emphasize-mid-tertiary);
  --ui-surface-status-active: var(--ui-status-active);
  --ui-surface-status-caution: var(--ui-status-caution);
  --ui-surface-status-caution-hover: var(--ui-status-caution-hover);
  --ui-surface-status-disabled: var(--ui-status-disabled);
  --ui-surface-status-hover: var(--ui-status-hover);
  --ui-surface-status-link: var(--ui-status-link);
  --ui-surface-status-visited: var(--ui-status-visited);
  --ui-text-brand-primary: var(--brand-primary);
  --ui-text-default: var(--classified-mono-black);
  --ui-text-inverted: var(--classified-mono-white);
  --ui-text-light: var(--classified-mono-secondary);
  --ui-text-ultra-light: var(--classified-mono-tertiary);
  --ui-text-code-attribute: var(--indigo-400);
  --ui-text-code-blacket: var(--canary-600);
  --ui-text-code-comment: var(--classified-mono-secondary);
  --ui-text-code-script: var(--green-400);
  --ui-text-code-tag: var(--orange-600);
  --ui-text-code-value: var(--cyan-400);
  --ui-text-status-active: var(--ui-status-active);
  --ui-text-status-caution: var(--ui-status-caution);
  --ui-text-status-caution-hover: var(--ui-status-caution-hover);
  --ui-text-status-disabled: var(--ui-status-disabled-dark);
  --ui-text-status-hover: var(--ui-status-hover);
  --ui-text-status-link: var(--ui-status-link);
  --ui-text-status-visited: var(--ui-status-visited);
}
