:root {
  /* number */
  --primitive-1px: 1px;
  --primitive-2px: 2px;
  --primitive-3px: 3px;
  --primitive-4px: 4px;
  --primitive-6px: 6px;
  --primitive-8px: 8px;
  --primitive-10px: 10px;
  --primitive-11px: 11px;
  --primitive-12px: 12px;
  --primitive-14px: 14px;
  --primitive-1rem: 16px;
  --primitive-18px: 18px;
  --primitive-20px: 20px;
  --primitive-22px: 22px;
  --primitive-24px: 24px;
  --primitive-28px: 28px;
  --primitive-32px: 32px;
  --primitive-40px: 40px;
  --primitive-44px: 44px;
  --primitive-48px: 48px;
  --primitive-56px: 56px;
  --primitive-60px: 60px;
  --primitive-64px: 64px;
  --primitive-72px: 72px;
  --primitive-80px: 80px;
  --primitive-85-333px: 85.33333587646484px;
  --primitive-88px: 88px;
  --primitive-96px: 96px;
  --primitive-120px: 120px;
  --primitive-128px: 128px;
  --primitive-160px: 160px;
  --primitive-240px: 240px;
  --primitive-9999px: 9999px;
  --semantic-corner-radius-sss: var(--primitive-1px);
  --semantic-corner-radius-ss: var(--primitive-2px);
  --semantic-corner-radius-s: var(--primitive-4px);
  --semantic-corner-radius-ms: var(--primitive-6px);
  --semantic-corner-radius-m: var(--primitive-8px);
  --semantic-corner-radius-ml: var(--primitive-10px);
  --semantic-corner-radius-l: var(--primitive-12px);
  --semantic-corner-radius-ll: var(--primitive-1rem);
  --semantic-corner-radius-lll: var(--primitive-32px);
  --semantic-corner-radius-pill: var(--primitive-9999px);
  --semantic-line-thickness-default: var(--primitive-1px);
  --semantic-line-thickness-bold: var(--primitive-2px);
  --semantic-line-thickness-black: var(--primitive-3px);
  --semantic-line-thickness-heavy: var(--primitive-4px);
  --semantic-shadow-blur-ss: var(--primitive-1px);
  --semantic-shadow-blur-s: var(--primitive-2px);
  --semantic-shadow-blur-m: var(--primitive-1rem);
  --semantic-shadow-blur-l: var(--primitive-32px);
  --semantic-shadow-blur-ll: var(--primitive-64px);
  --semantic-shadow-blur-lll: var(--primitive-160px);
  --semantic-size-icon-ssss: var(--primitive-4px);
  --semantic-size-icon-sss: var(--primitive-6px);
  --semantic-size-icon-ss: var(--primitive-8px);
  --semantic-size-icon-s: var(--primitive-10px);
  --semantic-size-icon-ms: var(--primitive-12px);
  --semantic-size-icon-mms: var(--primitive-14px);
  --semantic-size-icon-m: var(--primitive-1rem);
  --semantic-size-icon-mml: var(--primitive-20px);
  --semantic-size-icon-ml: var(--primitive-24px);
  --semantic-size-icon-l: var(--primitive-28px);
  --semantic-size-icon-ll: var(--primitive-32px);
  --semantic-size-icon-lll: var(--primitive-40px);
  --semantic-size-icon-clickable: var(--primitive-44px);
  --semantic-size-section-sss: var(--primitive-48px);
  --semantic-size-section-ss: var(--primitive-64px);
  --semantic-size-section-s: var(--primitive-72px);
  --semantic-size-section-ms: var(--primitive-80px);
  --semantic-size-section-m: var(--primitive-96px);
  --semantic-size-section-ml: var(--primitive-120px);
  --semantic-size-section-l: var(--primitive-160px);
  --semantic-size-section-ll: var(--primitive-240px);
  --semantic-space-hairline-s: var(--primitive-1px);
  --semantic-space-hairline-m: var(--primitive-2px);
  --semantic-space-hairline-l: var(--primitive-3px);
  --semantic-space-inner-sss: var(--primitive-4px);
  --semantic-space-inner-ss: var(--primitive-6px);
  --semantic-space-inner-s: var(--primitive-8px);
  --semantic-space-inner-ms: var(--primitive-10px);
  --semantic-space-inner-mms: var(--primitive-12px);
  --semantic-space-inner-m: var(--primitive-1rem);
  --semantic-space-inner-ml: var(--primitive-20px);
  --semantic-space-inner-l: var(--primitive-24px);
  --semantic-space-inner-ll: var(--primitive-32px);
  --semantic-space-inner-lll: var(--primitive-40px);
  --semantic-space-inner-llll: var(--primitive-48px);
  --semantic-space-outer-sss: var(--primitive-64px);
  --semantic-space-outer-ss: var(--primitive-72px);
  --semantic-space-outer-s: var(--primitive-80px);
  --semantic-space-outer-m: var(--primitive-96px);
  --semantic-space-outer-l: var(--primitive-120px);
  --semantic-space-outer-lm: var(--primitive-128px);
  --semantic-space-outer-ll: var(--primitive-160px);
  --semantic-space-outer-lll: var(--primitive-240px);
  /* Elevation */
  --elevation-lv1: 0px 1px 6px 0px rgba(0, 0, 0, 0.3),
    0px 4px 16px 3px rgba(0, 0, 0, 0.1);
  --elevation-lv2: 0px 2px 10px 0px rgba(0, 0, 0, 0.3),
    0px 8px 24px 5px rgba(0, 0, 0, 0.1);
}
