@use '../../globals/base/' as *;

$padding-sizes: (
  'none': 0,
  'sss': var(--semantic-space-inner-sss),
  'ss': var(--semantic-space-inner-ss),
  's': var(--semantic-space-inner-s),
  'ms': var(--semantic-space-inner-ms),
  'mms': var(--semantic-space-inner-mms),
  'm': var(--semantic-space-inner-m),
  'ml': var(--semantic-space-inner-ml),
  'l': var(--semantic-space-inner-l),
  'll': var(--semantic-space-inner-ll),
  'lll': var(--semantic-space-inner-lll),
  'llll': var(--semantic-space-inner-llll)
);

@mixin loop {
  @each $size, $value in $padding-sizes {
    &p-#{$size} {
      padding: $value;
    }
    &pt-#{$size} {
      padding-top: $value;
    }
    &pr-#{$size} {
      padding-right: $value;
    }
    &pb-#{$size} {
      padding-bottom: $value;
    }
    &pl-#{$size} {
      padding-left: $value;
    }
    &px-#{$size} {
      padding-left: $value;
      padding-right: $value;
    }
    &py-#{$size} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }
}

.u- {
  @include loop;
}

.md\:u- {
  @include bp(md) {
    @include loop;
  }
}
.sm\:u- {
  @include bp(sm) {
    @include loop;
  }
}
