@use '../../../../scss/globals/base/' as *;
@use 'sass:map';
.c-cardGroup {
  @include dm;
}
.c-card {
  $_root: &;
  display: flex;
  flex-direction: column;
  // カード全体がリンクの場合
  &[href] {
    color: var(--ui-text-status-link);
  }
  &[href]:not(.c-card--media) {
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--ui-line-status-link);
    text-decoration: none;
    @media (hover: hover) {
      &:hover {
        color: var(--ui-text-status-hover);
        border-color: var(--ui-line-status-hover);
        background-color: var(--ui-background-emphasize-mid-tertiary);
      }
    }
    &:active {
      color: var(--ui-text-status-active);
      border-color: var(--ui-line-status-active);
    }
    &:focus-visible {
      outline: var(--semantic-line-thickness-bold) solid
        var(--ui-line-status-focus);
      outline-offset: calc(var(--semantic-line-thickness-bold) * -1);
    }
    #{$_root}__image {
      .c-image {
        overflow: hidden;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
    #{$_root}__body {
      height: 100%;
      // justify-content: space-between;
      padding: var(--semantic-space-inner-m);
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    #{$_root}__title {
      margin-bottom: auto;
      &:has(+ #{$_root}__subTitle) {
        margin-bottom: 0;
      }
      &Label {
        flex: 1;
        // overflow: hidden;
        // display: -webkit-box;
        // text-overflow: ellipsis;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 3;
      }
    }
    #{$_root}__subTitle {
      margin-bottom: auto;
    }
  }
  &__title {
    @include txt($t-bodyLL-bold);
    margin-top: 0;
    display: inline-flex;

    white-space: normal;
    .c-card[href] & {
      @include txt($t-titleM-bold);
    }
    > a {
      color: var(--ui-text-status-link);
      text-decoration: none;
      display: flex;
      align-items: center;
      column-gap: 6px;
      width: 100%;
      border-radius: var(--semantic-corner-radius-ss);
      @media (hover: hover) {
        &:hover {
          color: var(--ui-text-status-hover);
          background-color: var(--ui-background-emphasize-mid-tertiary);
          &::after {
            border-color: var(--ui-line-status-hover);
          }
        }
      }
      &:active {
        color: var(--ui-text-status-active);
        &::after {
          border-color: var(--ui-line-status-active);
        }
      }
      &:focus-visible {
        box-shadow: 0 0 0 2px var(--ui-line-status-focus);
        outline: 2px solid var(--primitive-canary-700);
      }
      .c-card__titleIcon {
        html[lang='en'] & {
          margin-top: -0.2em;
        }
      }
    }
    &Icon {
      flex-shrink: 0;
      width: var(--semantic-size-icon-mml);
      height: var(--semantic-size-icon-mml);
      html[lang='en'] & {
        margin-top: 0;
      }
    }
  }
  &__subTitle {
    margin-top: var(--semantic-space-inner-sss);
    color: var(--ui-text-default);
    @include txt($t-bodyM-bold);
  }
  &__text {
    // overflow: hidden;
    // display: -webkit-box;
    // text-overflow: ellipsis;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 2;
    color: var(--ui-text-default);
    @include txt($t-bodyS);
    margin-top: var(--semantic-space-inner-s);
  }
  &__body {
    padding-top: var(--semantic-space-inner-m);
    padding-bottom: var(--semantic-space-inner-s);
    &Icon {
      width: var(--semantic-size-icon-m);
      height: var(--semantic-size-icon-m);
      margin-right: var(--semantic-space-inner-sss);
      margin-bottom: -2px;
    }
  }
  &__date {
    @include txt($t-bodyS);
    color: var(--ui-text-default);
    margin-top: var(--semantic-space-inner-ss);
    // overflow: hidden;
    // display: -webkit-box;
    // text-overflow: ellipsis;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
  }
  &__date,
  &__time,
  &__place {
    .c-card:not(.c-card--event):not(.c-card--media) & {
      padding-left: 20px;
      position: relative;
      .c-card__bodyIcon {
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }
  &__time,
  &__place {
    margin-top: var(--semantic-space-hairline-m);
    @include txt($t-bodyS);
    color: var(--ui-text-default);
  }
  &__tag {
    margin-top: var(--semantic-space-inner-s);
    display: flex;
    flex-wrap: wrap;
    gap: var(--semantic-space-inner-sss);
  }
  &__addContents {
    margin-top: var(--semantic-space-inner-s);
    display: flex;
    flex-direction: column;
    gap: var(--semantic-space-inner-s);
  }
  &__image {
    order: -1;
    &[href] {
      &:focus-visible {
        outline: var(--semantic-line-thickness-bold) solid
          var(--ui-line-status-focus);
        outline-offset: 0px;
      }
    }
    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
}
// 横並び
.c-card--horizontal {
  flex-direction: row;
  column-gap: 16px;
  border: none;
  .c-card__title {
    @include txt($t-bodyM-bold);
    &Icon {
      width: 20px;
      height: 20px;
    }
  }
  .c-card__body {
    padding-block: 0;
  }
  .c-card__image {
    width: 50%;
    flex: 0 0 auto;
  }
}
// イベント型
.c-card--event {
  .c-card__body {
    display: flex;
    flex-direction: column;
    row-gap: var(--semantic-space-inner-m);
    & > * {
      margin-top: 0;
    }
  }
  &[href] {
    .c-card__title {
      @include txt($t-titleS-bold);
    }
  }
  @media (hover: hover) {
    &:hover {
      .c-card__date {
        color: var(--ui-text-status-hover);
      }
    }
  }
  &:active {
    .c-card__date {
      color: var(--ui-text-status-active);
    }
  }
  .c-card__date {
    order: -1;
    @include txt($t-headingL-bold);
    color: var(--ui-text-status-link);
    // 文字省略をリセット
    -webkit-box-orient: initial;
    .c-card__bodyIcon {
      display: none;
    }
    &Start {
      display: flex;
      flex-direction: column;
      &Year {
        @include txt($t-titleS);
        display: block;
      }
    }
  }
  .c-card__place {
    @include txt($t-labelM);
    display: flex;
    flex-direction: column;
    .c-card__bodyIcon {
      width: var(--semantic-size-icon-mml);
      height: var(--semantic-size-icon-mml);
      margin-bottom: var(--semantic-space-inner-sss);
    }
  }
}
// メディア情報型
.c-card--media {
  color: var(--ui-text-default);
  text-decoration: none;
  @media (hover: hover) {
    &:hover {
      .c-card__body {
        background-color: var(--ui-background-emphasize-mid-tertiary);
      }
    }
  }
  &:focus-visible {
    outline: var(--semantic-line-thickness-bold) solid
      var(--ui-line-status-focus);
    outline-offset: 0px;
  }
  .c-card__body {
    z-index: 1;
    margin-top: -16px;
    margin-left: auto;
    padding: var(--semantic-space-inner-mms);
    width: 95%;
    background-color: var(--ui-background-default);
  }
  .c-card__title {
    color: var(--ui-text-default);
  }
  .c-card__date {
    @include txt($t-labelM);
  }
}
// 階層型
.c-card--hierarchy {
  .c-card__addContents {
    .c-utilityLink {
      display: block;
    }
  }
}
