---
layout: layouts/base.njk
title: インデックスパターン：コンテンツ訴求サマリー型
description: ページパターン：インデックスパターン：コンテンツ訴求サマリー型
permalink: /page-patterns/index/content-summary.html
---

{# // compornents // #}
{% import "src/components/primitive/Media/Image/Image.njk" as Image %}
{% import "src/components/primitive/Form/Input/Input.njk" as Input %}
{% import "src/components/primitive/Text/Heading/Heading.njk" as Heading %}
{% import "src/components/primitive/Text/Paragraph/Paragraph.njk" as Paragraph %}
{% import "src/components/primitive/Action/Button/Button.njk" as Button %}
{% import "src/components/semantic/Group/LinkList/LinkList.njk" as LinkList %}
{% import "src/components/semantic/Group/EntryList/EntryList.njk" as EntryList %}
{% import "src/components/semantic/Group/Card/Card.njk" as Card %}
{% import "src/components/semantic/Group/Carousel/Carousel.njk" as Carousel %}
{% import "src/components/semantic/Group/Hero/Hero.njk" as Hero %}
{% import "src/components/semantic/Group/PickupContents/PickupContents.njk" as PickupContents %}
{# // page HTML // #}
<div class="contentArea">
  <div class="container">
    <!-- CMS Components Area -->
    {{ Carousel.render({
        "contentsType": "hero",
        "autoplay": true,
        "loop": true,
        "carouselItemNum": "1",
        "carouselItems": [
        {
        "title": "ページタイトル インデックスパターン：コンテンツ訴求サマリー型",
        "description": "リード文「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理",
        "shoulder": "",
        "imageSrc": '/assets/img/img-campus.webp',
        "imageWidth": 1440,
        "imageHeight": 810,
        "imageAlt": '画像のalt'
        }
    ]
    }) }}
    {{ Heading.render({
      "text": "見出しテキスト h2「自然界はどのようにしてできて",
      "tag": "h2",
      "headingLevel": 2,
      "lead": "リード文「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、"
    }) }}
    {{ PickupContents.render({
      "type": "",
      "title": "Pickupコンテンツ-キャッチコピー",
      "titleTag": "p",
      "description": "本文テキスト 「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。",
      "imageSrc": "/assets/img/img-campus.webp",
      "imageWidth": 960,
      "imageHeight": 540,
      "responsiveImage": false,
      "buttonLabel": "ボタン",
      "href": "#"
    }) }}
    {{ PickupContents.render({
      "type": "",
      "title": "Pickupコンテンツ-キャッチコピー",
      "titleTag": "p",
      "description": "本文テキスト 「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。",
      "imageSrc": "/assets/img/img-campus.webp",
      "imageWidth": 960,
      "imageHeight": 540,
      "responsiveImage": false,
      "buttonLabel": "ボタン",
      "href": "#",
      "imagePosRight": true
    }) }}
    {{ PickupContents.render({
      "type": "",
      "title": "Pickupコンテンツ-キャッチコピー",
      "titleTag": "p",
      "description": "本文テキスト 「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。",
      "imageSrc": "/assets/img/img-campus.webp",
      "imageWidth": 960,
      "imageHeight": 540,
      "responsiveImage": false,
      "buttonLabel": "ボタン",
      "href": "#"
    }) }}
    {{ PickupContents.render({
      "type": "",
      "title": "Pickupコンテンツ-キャッチコピー",
      "titleTag": "p",
      "description": "本文テキスト 「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。",
      "imageSrc": "/assets/img/img-campus.webp",
      "imageWidth": 960,
      "imageHeight": 540,
      "responsiveImage": false,
      "buttonLabel": "ボタン",
      "href": "#",
      "imagePosRight": true
    }) }}
    {{ PickupContents.render({
      "type": "",
      "title": "Pickupコンテンツ-キャッチコピー",
      "titleTag": "p",
      "description": "本文テキスト 「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。",
      "imageSrc": "/assets/img/img-campus.webp",
      "imageWidth": 960,
      "imageHeight": 540,
      "responsiveImage": false,
      "buttonLabel": "ボタン",
      "href": "#"
    }) }}
    {{ PickupContents.render({
      "type": "",
      "title": "Pickupコンテンツ-キャッチコピー",
      "titleTag": "p",
      "description": "本文テキスト 「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。",
      "imageSrc": "/assets/img/img-campus.webp",
      "imageWidth": 960,
      "imageHeight": 540,
      "responsiveImage": false,
      "buttonLabel": "ボタン",
      "href": "#",
      "imagePosRight": true
    }) }}
    {{ Heading.render({"text": "最新情報", "tag": "h2", "headingLevel": 2}) }}
    {{ EntryList.render({
      "items": [
        {
          "date": "2024年10月1日",
          "tags": [
            {
              "label": "カテゴリ"
            },
            {
              "label": "カテゴリ"
            },
            {
              "label": "カテゴリ"
            }
          ],
          "title": "リンクテキスト「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。「自然界はどのようにして",
          "url": "#"
        },
        {
          "date": "2024年10月1日",
          "tags": [
            {
              "label": "カテゴリ"
            },
            {
              "label": "カテゴリ"
            },
            {
              "label": "カテゴリ"
            }
          ],
          "title": "リンクテキスト「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。「自然界はどのようにして",
          "url": "#"
        },
        {
          "date": "2024年10月1日",
          "tags": [
            {
              "label": "カテゴリ"
            },
            {
              "label": "カテゴリ"
            },
            {
              "label": "カテゴリ"
            }
          ],
          "title": "リンクテキスト「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。「自然界はどのようにして",
          "url": "#"
        }
      ]
    }) }}
    <div class="contentArea__bottom">
      <div class="grid grid--justifyCenter">
        <div class="grid__col grid__col--span8 sm:grid__col--span8">
          {{ Button.render({"label": "全ての記事", "href": "#", "fixed": true, "rightIcon": "chevron_right"}) }}
        </div>
      </div>
    </div>
    <!-- /.contentArea__bottom -->
  </div>
  <!-- /.container -->
</div>
<!-- /.contentArea -->
<aside class="contentFooter">
  <div class="container">
    {{ Heading.render({"text": "関連コンテンツ", "tag": "h2", "headingLevel": 2}) }}
    {{ LinkList.render({
      "type": "related",
      "links": [
        {
          "href": "#",
          "text": "リンクテキスト「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、",
          "rightIcon": "chevron_right"
        },
        {
          "href": "#",
          "text": "リンクテキスト「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心を",
          "rightIcon": "chevron_right"
        },
        {
          "href": "#",
          "text": "リンクテキスト「自然界はどのようにしてできているのだろう?」という基本的な原理",
          "rightIcon": "chevron_right"
        },
        {
          "href": "#",
          "text": "リンクテキスト「リンクテキスト「自然界はどのようにして",
          "rightIcon": "pdf"
        },
        {
          "href": "#",
          "text": "リンクテキスト「自然界はどの",
          "external": true
        }
      ]
    }) }}
    {{ Heading.render({"text": "研究トピックス", "tag": "h2", "headingLevel": 2}) }}
    {{ Carousel.render({
        "contentsType": "tile",
        "autoplay": false,
        "loop": false,
        "carouselItemNum": 3,
        "carouselItems": [
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        },
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        },
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        },
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        },
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        }
    ]
    })
    }}
  </div>
  <!-- /.container -->
</aside>
<!-- /.contentFooter -->
