---
layout: layouts/base.njk
title: インデックスパターン：施設・設備一覧型
description: ページパターン：インデックスパターン：施設・設備一覧型
permalink: /page-patterns/index/facility-list.html
---

{# // compornents // #}
{% import "src/components/primitive/Text/Heading/Heading.njk" as Heading %}
{% import "src/components/primitive/Text/Paragraph/Paragraph.njk" as Paragraph %}
{% import "src/components/semantic/Group/Accordion/Accordion.njk" as Accordion %}
{% import "src/components/semantic/Group/Card/Card.njk" as Card %}
{% import "src/components/semantic/Group/Carousel/Carousel.njk" as Carousel %}
{% import "src/components/semantic/Group/FacilityList/FacilityList.njk" as FacilityList %}
{% import "src/components/semantic/Group/LinkList/LinkList.njk" as LinkList %}
{# // page HTML // #}
<div class="contentArea">
  <div class="container">
    {{ Heading.render({
        text: title,
        tag: "h1",
        headingLevel: 1,
        lead: "ダミー「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です"
        }) }}
    {{ Heading.render({
      "text": "見出しテキスト h2",
      "tag": "h2",
      "headingLevel": 2,
      "lead": "ダミー「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です"
    }) }}
    {{ FacilityList.render({
        title: '施設・設備名',
        description:
        '本文テキスト 「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。',
        address: '東京都目黒区大岡山2丁目12-1',
        tel: '03-3XXXX-XXXX',
        href: '#',
        buttonLabel: 'Google Mapsで見る',
        external: false,
        mapEmbedCode:
        '<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6065.130754054877!2d139.67980080649278!3d35.6055073284914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f88b899cc553%3A0x5d0763367373fca5!2z5p2x5Lqs5bel5qWt5aSn5a2m!5e0!3m2!1sja!2sjp!4v1718307435430!5m2!1sja!2sjp"
            width="600"
            height="450"
            style="border:0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>'
        }) }}
    {{ FacilityList.render({
        title: '施設・設備名',
        description:
        '本文テキスト 「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。',
        address: '東京都目黒区大岡山2丁目12-1',
        tel: '03-3XXXX-XXXX',
        href: '#',
        buttonLabel: 'Google Mapsで見る',
        external: false,
        mapEmbedCode:
        '<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6065.130754054877!2d139.67980080649278!3d35.6055073284914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f88b899cc553%3A0x5d0763367373fca5!2z5p2x5Lqs5bel5qWt5aSn5a2m!5e0!3m2!1sja!2sjp!4v1718307435430!5m2!1sja!2sjp"
            width="600"
            height="450"
            style="border:0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>'
        }) }}
    {{ FacilityList.render({
        title: '施設・設備名',
        description:
        '本文テキスト 「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です。',
        address: '東京都目黒区大岡山2丁目12-1',
        tel: '03-3XXXX-XXXX',
        href: '#',
        buttonLabel: 'Google Mapsで見る',
        external: false,
        mapEmbedCode:
        '<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6065.130754054877!2d139.67980080649278!3d35.6055073284914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f88b899cc553%3A0x5d0763367373fca5!2z5p2x5Lqs5bel5qWt5aSn5a2m!5e0!3m2!1sja!2sjp!4v1718307435430!5m2!1sja!2sjp"
            width="600"
            height="450"
            style="border:0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>'
        }) }}
    {{ Heading.render({
      "text": "見出しテキスト h2",
      "tag": "h2",
      "headingLevel": 2,
      "lead": "ダミー「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、法則や論理を探究するのが理学です"
    }) }}
    {{ Accordion.render({
        multiple: true,
        contents: [
        {
        triggerLabel: 'XX地域の施設',
        content: '<div class="c-cardGroup">
        <div class="grid grid--cols3 sm:grid--cols1">
          <div class="grid__col">
            <a class="c-card" href="#">
              <div class="c-card__body">
                <h3 class="c-card__title">
                  <span class="c-card__titleLabel">リンクテキスト</span>
                  <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                    <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                  </svg>
                </h3>
                <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
              </div>
            </a>
          </div>
          <div class="grid__col">
            <a class="c-card" href="#">
              <div class="c-card__body">
                <h3 class="c-card__title">
                  <span class="c-card__titleLabel">リンクテキスト</span>
                  <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                    <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                  </svg>
                </h3>
                <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
              </div>
            </a>
          </div>
          <div class="grid__col">
            <a class="c-card" href="#">
              <div class="c-card__body">
                <h3 class="c-card__title">
                  <span class="c-card__titleLabel">リンクテキスト</span>
                  <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                    <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                  </svg>
                </h3>
                <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
              </div>
            </a>
          </div>
          <div class="grid__col">
            <a class="c-card" href="#">
              <div class="c-card__body">
                <h3 class="c-card__title">
                  <span class="c-card__titleLabel">リンクテキスト</span>
                  <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                    <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                  </svg>
                </h3>
                <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
              </div>
            </a>
          </div>
          <div class="grid__col">
            <a class="c-card" href="#">
              <div class="c-card__body">
                <h3 class="c-card__title">
                  <span class="c-card__titleLabel">リンクテキスト</span>
                  <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                    <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                  </svg>
                </h3>
                <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
              </div>
            </a>
          </div>
          <div class="grid__col">
            <a class="c-card" href="#">
              <div class="c-card__body">
                <h3 class="c-card__title">
                  <span class="c-card__titleLabel">リンクテキスト</span>
                  <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                    <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                  </svg>
                </h3>
                <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      '
      },
      {
      triggerLabel: 'XX地域の施設',
      content: '<div class="c-cardGroup">
      <div class="grid grid--cols3 sm:grid--cols1">
        <div class="grid__col">
          <a class="c-card" href="#">
            <div class="c-card__body">
              <h3 class="c-card__title">
                <span class="c-card__titleLabel">リンクテキスト</span>
                <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                  <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                </svg>
              </h3>
              <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
            </div>
          </a>
        </div>
        <div class="grid__col">
          <a class="c-card" href="#">
            <div class="c-card__body">
              <h3 class="c-card__title">
                <span class="c-card__titleLabel">リンクテキスト</span>
                <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                  <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                </svg>
              </h3>
              <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
            </div>
          </a>
        </div>
        <div class="grid__col">
          <a class="c-card" href="#">
            <div class="c-card__body">
              <h3 class="c-card__title">
                <span class="c-card__titleLabel">リンクテキスト</span>
                <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                  <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                </svg>
              </h3>
              <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
            </div>
          </a>
        </div>
        <div class="grid__col">
          <a class="c-card" href="#">
            <div class="c-card__body">
              <h3 class="c-card__title">
                <span class="c-card__titleLabel">リンクテキスト</span>
                <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                  <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                </svg>
              </h3>
              <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
            </div>
          </a>
        </div>
        <div class="grid__col">
          <a class="c-card" href="#">
            <div class="c-card__body">
              <h3 class="c-card__title">
                <span class="c-card__titleLabel">リンクテキスト</span>
                <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                  <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                </svg>
              </h3>
              <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
            </div>
          </a>
        </div>
        <div class="grid__col">
          <a class="c-card" href="#">
            <div class="c-card__body">
              <h3 class="c-card__title">
                <span class="c-card__titleLabel">リンクテキスト</span>
                <svg class="icon c-card__titleIcon" role="img" aria-hidden="true">
                  <use xlink:href="/assets/img/sprite.svg#chevron_right"></use>
                </svg>
              </h3>
              <p class="c-card__text">施設・設備の概要紹介が入ります。施設・設備の概要紹介が入ります。</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    '
    }
    ]
    }) }}
</div>
<!-- /.container -->
</div>
<!-- /.contentArea -->
<aside class="contentFooter">
  <div class="container">
    {{ Heading.render({"text": "関連コンテンツ", "tag": "h2", "headingLevel": 2}) }}
    {{ LinkList.render({
      "type": "related",
      "links": [
        {
          "href": "#",
          "text": "リンクテキスト「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心をモチベーションに、",
          "rightIcon": "chevron_right"
        },
        {
          "href": "#",
          "text": "リンクテキスト「自然界はどのようにしてできているのだろう?」という基本的な原理への興味や関心を",
          "rightIcon": "chevron_right"
        },
        {
          "href": "#",
          "text": "リンクテキスト「自然界はどのようにしてできているのだろう?」という基本的な原理",
          "rightIcon": "chevron_right"
        },
        {
          "href": "#",
          "text": "リンクテキスト「リンクテキスト「自然界はどのようにして",
          "rightIcon": "pdf"
        },
        {
          "href": "#",
          "text": "リンクテキスト「自然界はどの",
          "external": true
        }
      ]
    }) }}
    {{ Heading.render({"text": "研究トピックス", "tag": "h2", "headingLevel": 2}) }}
    {{ Carousel.render({
        "contentsType": "tile",
        "autoplay": false,
        "loop": false,
        "carouselItemNum": 3,
        "carouselItems": [
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        },
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        },
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        },
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        },
        {
        cardType: 'media',
        linkArea: 'card',
        href: '#',
        blank: false,
        title: 'リンクテキスト「自然界はどのようにしてできて',
        titleTag: 'h3',
        text: '',
        startDate: '2024年12月31日',
        tags: ['タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト', 'タグテキスト'],
        imageSrc: '/assets/img/img-campus.webp',
        imageWidth: 960,
        imageHeight: 540,
        imageAlt: '画像のalt'
        }
    ]
    })
    }}
  </div>
  <!-- /.container -->
</aside>
<!-- /.contentFooter -->
